@-webkit-keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.icon {
    margin: 0 0 0 1rem;
    width: 24px !important;
    height: 24px !important;
}

.explain {
    margin: 0 1rem 0 0.5rem;
}

.explain.stack {
    margin: 0 1rem 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.button {
    font-family: "M PLUS 1p";
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.button[disabled] {
    cursor: not-allowed;
}

.button[disabled] {
    background-color: white;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: 0.5;
}

.button strong {
    color: inherit;
}

.button .icon:last-child:not(:first-child) {
    margin-left: 0.25em;
    margin-right: calc(-0.5em - 1px);
}

.button .icon:first-child:last-child {
    margin-left: calc(-0.5em - 1px);
    margin-right: calc(-0.5em - 1px);
}

.button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636;
}

.button:focus, .button.is-focused {
    border-color: #3273dc;
    color: #363636;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636;
}

.button.is-loading {
    color: transparent !important;
    pointer-events: none;
}

/* https://github.com/jgthms/bulma/issues/3329 */
.button.is-loading span {
    visibility: hidden;
}

.hiddensvg {
    visibility: hidden;
}

.button.is-loading::after {
    /* position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2)); */
    position: absolute !important;
}

.button.is-loading::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
}

.button.is-stack {
    border-radius: 10px;
    font-size: 1rem;
    width: 160px;
    height: 60px;
}

.button.is-short {
    border-radius: 10px;
    font-size: 1rem;
    width: 160px;
}

.button.is-basic {
    border-radius: 10px;
    font-size: 1rem;
    width: 300px;
}

.button.is-light {
    background-color: #09b4c6;
    border-color: transparent;
    color: #fff;
}

.button.is-light:hover, .button.is-light.is-hovered {
    background-color: #09b4c6;
    border-color: transparent;
    color: #fff;
}

.button.is-light:focus, .button.is-light.is-focused {
    border-color: transparent;
    color: #fff;
}

.button.is-light:focus:not(:active), .button.is-light.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.button.is-light:active, .button.is-light.is-active {
    background-color: #09b4c6;
    border-color: transparent;
    color: #fff;
}

.button.is-light[disabled], fieldset[disabled] .button.is-light {
    background-color: #09b4c6;
    border-color: transparent;
    box-shadow: none;
}

.button.is-light.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
}

.button.is-dark {
    background-color: #24292D;
    border-color: transparent;
    color: #09b4c6;
}

.button.is-dark:hover, .button.is-dark.is-hovered {
    background-color: #24292D;
    border-color: transparent;
    color: #09b4c6;
}

.button.is-dark:focus, .button.is-dark.is-focused {
    border-color: transparent;
    color: #09b4c6;
}

.button.is-dark:focus:not(:active), .button.is-dark.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.button.is-dark:active, .button.is-dark.is-active {
    background-color: #24292D;
    border-color: transparent;
    color: #09b4c6;
}

.button.is-dark[disabled], fieldset[disabled] .button.is-dark {
    background-color: #24292D;
    border-color: transparent;
    box-shadow: none;
}

.button.is-dark.is-loading::after {
    border-color: transparent transparent #09b4c6 #09b4c6 !important;
}

.button.is-inverted {
    background-color: #09b4c6;
    color: #24292D;
}

.button.is-inverted:hover, .button.is-inverted.is-hovered {
    background-color: #09b4c6;
}

.button.is-inverted[disabled], fieldset[disabled] .button.is-inverted {
    background-color: #09b4c6;
    border-color: transparent;
    box-shadow: none;
    color: #24292D;
}

.button.is-inverted.is-loading::after {
    border-color: transparent transparent #24292D #24292D !important;
}